
@{
    ViewData["Title"] = "More Info";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    main {
        padding-top: 80px;
    }

    section {
        align-items: center;
        text-align: center;
        padding: 100px 200px;
    }

    #topImg {
        width: 80%
    }

    #services {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    #services > div {
        align-items: center;
        width: 30%;
    }

    .imgContainer>img {
        width: 100%;
        max-width: 250px;
        height: 250px;
        object-fit: cover;
    }

    form {
        text-align: left;
        margin: auto;
        width: 400px;
        padding: 20px 25px 60px 25px;
        -webkit-box-shadow: 2px 2px 5px 3px #000000; 
        box-shadow: 2px 2px 5px 3px #000000;
    }

@@media (max-width: 880px) {
    section {
        padding: 100px 20px;
    }

    #topImg {
        width: 100%
    }

    #services {
        flex-flow: column;
    }

    #services > div {
        width: 100%;
    }

    form {
        width: 100%;
    }
}
</style>

<main>
    <section style="background-color: #111;">
        <img id="topImg" src="~/media/More Info/additionalinfo.webp" alt="additional info"/>
        <h3>ADDITIONAL INFO</h3>
        <p>
            We wanted to give you a few details before the festivities begin. As 
            for food and drink, there will be plenty of deliciousness available! 
            Attire is easy - anything goes. And you’re welcome to bring a friend, 
            just let us know ahead of time. Feel free to reach out with any other 
            questions. Looking forward to seeing you soon and celebrating!
        </p>
    </section>
    <section style="background-color: #222;">
        <h3>SERVICES</h3>
        <h6>Everything You Need</h6>
        <p>
            This is your Service section introductory paragraph. Add a short blurb 
            of text to introduce the types of services offered, and consider 
            highlighting any special benefits or features. Try directing your users 
            to the specific Services listed below to learn more.
        </p>
    </section>
    <section id="services">
        <div>
            <div class="imgContainer">
                <img src="~/media/More Info/service1.webp" />
            </div>
            <h5>SERVICE</h5>
            <p>Satisfaction Guaranteed</p>
        </div>
        <div>
            <div class="imgContainer">
                <img src="~/media/More Info/service2.webp" />
            </div>
            <h5>SERVICE</h5>
            <p>Committed to Quality</p>
        </div>
        <div>
            <div class="imgContainer">
                <img src="~/media/More Info/service3.webp" />
            </div>
            <h5>SERVICE</h5>
            <p>Exceeding Expectations</p>
        </div>
    </section>
    <section style="background-color: #222;" id="form">
        @model _4CornerProductionsV2.Models.Client
        <form asp-action="newClient" method="post">
            <h5>Contact US</h5>
            <div class="form-group">
                <input asp-for="Name" type="text" class="form-control form-control-lg" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <input asp-for="Email" type="email" class="form-control form-control-lg" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input asp-for="Phone" type="tel" class="form-control form-control-lg" id="phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
                <select asp-for="Event" id="eventType" class="form-control form-control-lg" required>
                    <option selected="" style="display:none" disabled="">Event Type</option>
                    <option value="Corporate Events">Corporate Events</option>
                    <option value="MultiCam Crew">MulltiCam Crew</option>
                    <option value="Live Broadcast Event">Live Broadcast Video</option>
                    <option value="Live Photograpghy">Live Photography</option>
                    <option value="Family Events">Family Events</option>
                    <option value="Photo Booths">Photo Booths</option>
                    <option value="Short Films">Short Flims</option>
                    <option value="Music Performance">Music Performance</option>
                    <option value="Dance Performance">Dance Performance</option>
                </select>
            </div>
            <div class="form-group">
                <textarea asp-for="Comment" class="form-control" id="comments" rows="5" placeholder="Let us know what you need help with..."></textarea>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="whiteBtn float-right" style="border: none;">Submit</button>
            </div>
        </form>
    </section>
</main>
