
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    section {
        margin-top: 120px;
    }

    .sectionHeader {
        background-color: #444;
        font-family: "Playfair Display";
        text-align: center;
        font-size: 2em;
        padding: 10px;
        width: 100%;
        color: white;
        margin-bottom: 20px;
    }

    .container {
        max-width: 1040px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-height: 500px;
        transition: max-height 1.5s ease-out;
        overflow: hidden;
    }

    .container>a {
        width: 250px;
        height: 250px;
        padding: 5px;
    }

    .image {
        width: 100%;
        height: 100%;
        transition: opacity ease-out 0.5s;
        object-fit: cover;
    }

    .image:hover {
        opacity: 0.5;
    }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-title {
  position:absolute;
  color: white;
  margin-top: 10px;
  font-size: 1.5em;
}

    .button {
        text-align: center;
        color: white;
        font-size: 1em;
        margin: 50px auto;
        padding: 10px 20px;
        width: 200px;
        height: 45px;
        background: black;
        border: 2px solid white;
        overflow: hidden;
        transition: all 0.5s;
        outline: none !important;
    }

    .button:hover, .button:active 
    {
        text-decoration: none;
        color: white;
        background: grey;
    }

    .button span 
    {
        display: inline-block;
        position: relative;
        padding-right: 0;
        transition: padding-right 0.5s;
    }

    .button span:after 
    {
        content: ' ';  
        position: absolute;
        top: 0;
        right: -18px;
        opacity: 0;
        width: 10px;
        height: 10px;
        margin-top: -9px;
        border: 3px solid #FFF;
        border-top: none;
        border-right: none;
        transition: opacity 0.5s, top 0.5s, right 0.5s;
        transform: rotate(-45deg);
    }

    #btnText1.less:after {
        margin-top: -5px;
        transform: rotate(135deg);
    }

    #btnText2.less:after {
        margin-top: -5px;
        transform: rotate(135deg);
    }

    .button:hover span, .button:active span 
    {
        padding-right: 30px;
    }

    .button:hover span:after, .button:active span:after 
    {
        transition: opacity 0.5s, top 0.5s, right 0.5s;
        opacity: 1;
        right: 0;
        top: 50%;
    }

    .btnContainer {
        display: flex; 
        justify-content: center;
    }

    @@media (max-width: 880px) {
        .container>a {
            width: 100%;
            height: auto;
        }
    }
</style>

<!--https://dimsemenov.com/plugins/magnific-popup/-->
<main>
    <section>
        <div class="sectionHeader">Images</div>
        <div class="images container">
            <!--For images, simply put them in wwwroot/media/Portfolio/images-->
            @foreach (string image in ViewBag.images)
            {
            <a href="~/media/Portfolio/images/@image">
                <img class="image" src="~/media/Portfolio/images/@image" alt="image" />
            </a>
            }
        </div>

        <div class="btnContainer">
            <button onclick="showPhotos()" class="button">
                <span id="btnText1">Show More</span>
            </button>
        </div>

    </section>
    <section>
        <div class="sectionHeader">Videos</div>
        <div class="videos container">
            <!--To generate thumbnails, ensure last 11 characters of URL are the video id-->
            <!--title: description shown under video player-->
            <!--href:  youtube URL-->
            <a title="description 1" href="https://www.youtube.com/watch?v=5dsGWM5XGdg"></a>
            <a title="description 2" href="https://www.youtube.com/watch?v=cU5mlSWoL8E"></a>
            <a title="description 3" href="https://www.youtube.com/watch?v=eOcHz3Hf3UI"></a>
            <a title="description 4" href="https://www.youtube.com/watch?v=53W_ImgwcLs"></a>
            <a title="description 5" href="https://www.youtube.com/watch?v=7na_-LfGfpE"></a>
            <a title="description 6" href="https://www.youtube.com/watch?v=o1YA_6tXs5E"></a>
            <a title="description 7" href="https://www.youtube.com/watch?v=DXUAyRRkI6k"></a>
            <a title="description 8" href="https://www.youtube.com/watch?v=cytJLvf-eVs"></a>
            <a title="description 9" href="https://www.youtube.com/watch?v=cytJLvf-eVs"></a>
        </div>
        <div class="btnContainer">
            <button onclick="showVideos()" class="button">
                <span id="btnText2">Show More</span>
            </button>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
    // Generate thumbnails for videos
    $('.videos').children('a').each(function () {
        var youtubeId = $(this).attr('href');
        youtubeId = youtubeId.substring(youtubeId.length - 11);
        $(this).html("<img class='image' src='https://img.youtube.com/vi/" + youtubeId + "/hqdefault.jpg' alt='thumbnail' />")
    });

    // Lightboxes for images & videos
    $(document).ready(function() {
        $('.images').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'image',
            mainClass: 'mfp-with-zoom',
            gallery:{
                enabled: true,
                closeOnBgClick: true,
                showCloseBtn: true
            },
		    zoom: {
			    enabled: true,
                duration: 300
		    }
        });

        $('.videos').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'iframe',
            mainClass: 'mfp-with-zoom',
              iframe: {
                markup: '<div class="mfp-iframe-scaler">'+
                '<div class="mfp-close"></div>'+
                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                '<div class="mfp-title">Some caption</div>'+
              '</div>'
            },
            gallery:{
                enabled: true,
                closeOnBgClick: true,
                showCloseBtn: true
            },
            callbacks: {
                markupParse: function(template, values, item) {
                 values.title = item.el.attr('title');
                }
            }
        });
     });
</script>
<script>
    // Show more buttons
    function showPhotos() {
            if (document.querySelector("#btnText1").innerHTML == "Show More") {
                document.querySelector("#btnText1").innerHTML = "Show Less";
                $(".images").css("max-height", "99999px");
                $("#btnText1").addClass("less");
            }
            else {
                document.querySelector("#btnText1").innerHTML = "Show More";
                $(".images").css("max-height", "500px");
                $("#btnText1").removeClass("less");
            };
        }
        function showVideos() {
            if (document.querySelector("#btnText2").innerHTML == "Show More") {
                document.querySelector("#btnText2").innerHTML = "Show Less";
                $(".videos").css("max-height", "99999px");
                $("#btnText2").addClass("less");
            }
            else {
                document.querySelector("#btnText2").innerHTML = "Show More";
                $(".videos").css("max-height", "500px");
                $("#btnText2").removeClass("less");
            };
        };
</script>